$profile-shadow: 0 2rem 6rem rgba(20, 5, 45, 0.302);
$hover-shadow: -2px 0px 21px 12px rgba(81, 188, 231, 0.75);

@mixin easy {
	transition: all 0.5s ease-out;
}

$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
	overflow: hidden;
	font-family: sans-serif, 'Halvetica';
	@media only screen and (max-width: $bp-large) {
		font-size: 50%;
	}
}

// ======================  BODY ====================

body {
	display: flex;
	position: relative;
}

#particles-js {
	position: absolute;
	width: 100%;
	height: 100vh;
	z-index: -2;
	background: rgb(2, 0, 36);
	background: linear-gradient(84deg, rgba(2, 0, 36, 1) 0%, rgba(9, 54, 121, 1) 66%, rgba(26, 60, 120, 1) 100%);
}

// ============================== PORTRAIT ========================

nav {
	max-width: 15%;
	height: 100vh;
	background: #00002e;
	opacity: .88;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	-webkit-box-shadow: 10px -1px 9px 3px rgba(2, 2, 41, 0.75);
	-moz-box-shadow: 10px -1px 9px 3px rgba(2, 2, 41, 0.75);
	box-shadow: 10px -1px 9px 3px rgba(2, 2, 41, 0.75);

	img {
		display: block;
		opacity: 1;
		height: 35vh;
		width: 99%;
	}

	.id {
		position: relative;
		height: 35vh;
		width: 100%;
	}

	h1 {
		position: absolute;
		top: 18.2rem;

		display: inline-block;
		background-color: rgba($color: #254e7b, $alpha: .9);
		color: white;
		padding: 1rem 0.3rem;
		width: 100%;
		font-family: serif;
		font-size: 1.8rem;
		font-weight: 500;
		text-transform: uppercase;
		text-align: center;
	}
}

// ============================== NAVIGATION ========================

.nav-items {
	list-style: none;
	display: block;
	font-size: 1.4rem;

	.item {
		padding: 1.5rem;

		&:not(:last-child) {
			border-bottom: 1px #202226 solid;
		}

		a,
		a:link,
		a:visited,
		a:active {
			text-decoration: none;
			text-align: left;
			color: #777777;
			font-weight: 100;
			cursor: pointer;
			display: block;
			width: 12rem;
			margin: 0 auto;
			outline: 0;
		}

		.index {
			font-size: 1.3em;
			margin-left: 1rem;
		}

		a:hover {
			color: #51bce7;

			.item {
				border-bottom: 1px #51bce7 solid;
			}
		}
	}

	#active {
		color: #51bce7;
	}
}

// =========================== FOOTER ===========================

.social {
	display: flex;
	justify-content: space-between;
	margin: 0 1.2rem;
	font-size: 3rem;
	color: #777777;

	a {
		text-decoration: none;
		outline: 0;
		color: #777777;
	}

	i:hover {
		color: #51bce7;
	}
}

footer p {
	font-size: 1.1rem;
	color: #777777;
	text-align: center;
	padding: 2rem 1rem;
}

// ============================== NAME AND INRTO ========================

.intro {
	width: 100%;
	height: 10rem;
	z-index: -1;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;

	.primary-text {
		text-align: center;
		text-transform: uppercase;
		font-size: 5rem;
		font-weight: 500;
		font-family: serif;
		color: white;

		span {
			color: #51bce7;
			font-weight: 600;
		}
	}

	.secondary-text {
		color: white;
		font-size: 2.5rem;
		text-align: center;
		font-weight: 100;

		#title {
			padding: .5rem;
			font-size: 3rem;
			font-weight: 500;
			border-bottom: 2px solid #0a76eb;

			span {
				border-right: .05em solid;
				animation: caret 1s steps(1) infinite;
			}

			@keyframes caret {
				50% {
					border-color: transparent;
				}
			}
		}
	}
}

.container {
	width: 100%;
	height: 100vh;
	padding: 5rem;
	overflow: scroll;
}
