$profile-shadow: 0 2rem 6rem rgba(20, 5, 45, 0.302);
$hover-shadow: -2px 0px 21px 12px #51bce7;
$bg-color-main: black;
$bg-color-secondary:  rgb(12, 12, 12);
$txt-color-white: rgb(216, 206, 206);
$accent-main: #51bce7;

@mixin easeOut {
	transition: all 0.2s ease-out;
}

$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

* {
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
	display: none;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
	font-family: 'Montserrat', sans-serif;
	position: fixed;
	height: 100%;
	overflow: hidden;
	@media only screen and (max-width: 75em) {
		font-size: 55%;
	}

	@media only screen and (max-width: 68.75em) {
		font-size: 50%;
	}

	@media only screen and (max-width: 360px) {
		font-size: 43%;
	}
}

// ======================  BODY ====================

body {
	display: flex;
	width: 100vw;
	z-index: -2;
	height: calc(100vh - 5rem);
	background: $bg-color-main;
	-webkit-overflow-scrolling: touch;
	scroll-behavior: none;

	@media only screen and (max-width: 319px) {
		content: "Sorry, website don't support screens below 320px wide";
		& * {
			display: none;
			visibility: hidden;
		}
	}
}

@-moz-document url-prefix() {
	body {
		height: 100vh;
	}
}

#particles-js {
	position: absolute;
	min-width: 100%;
	height: 100vh;
	z-index: -2;
	display: flex;
	width: 100vw;
	height: 100vh;

}

// ============================== PORTRAIT ========================

nav {
	@media only screen and (min-width: 320px) and (max-width: 1000px) {
		visibility: hidden;
		position: fixed;
		transform: translate(-100rem);
		width: 65%;
		height: 100vh;
		opacity: 0;
		z-index: 10;
		justify-content: space-around;
		@include easeOut;
	}

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 25%;
	min-height: 100vh;
	overflow-y: auto;
	-ms-overflow-style: none; // IE 10+
	scrollbar-width: none; // Firefox

	opacity: 1;
	background: $bg-color-main;
	border-right: 1px solid $bg-color-secondary;

	@media only screen and (min-width: 1000px) {
		visibility: visible;
		justify-content: space-around;
	}

	img {
		display: block;
		opacity: 1;
		height: 15rem;
		width: 15rem;
		margin: 1rem auto;
	}

	.id {
		margin-top: 5rem;
		max-width: 100%;
	}

	h1 {
		padding: 1rem 0.3rem;
		text-transform: uppercase;
		max-width: 100%;
		font-weight: 500;
		letter-spacing: 1px;
		text-align: center;
		font-size: 2.3rem;
		padding: 1.5rem .5rem;
		margin: 0 auto;
		color: #51bce7;
		&:not(:last-child) {
			border-bottom: 1px #202226 solid;
		}
	}
}

// ============================== NAVIGATION ========================

.nav-items {
	max-width: 100%;
	list-style: none;
	display: block;
	font-size: 1.5rem;
	margin-top: 5rem;
	@media only screen and (min-width: 320px) and (max-width: 800px) {
		margin-top: .5rem;
		font-size: 1.7rem;
	}

	.item {
		padding: 1.5rem 0;

		&:not(:last-child) {
			border-bottom: 1px #202226 solid;
		}

		a,
		a:link,
		a:visited,
		a:active {
			text-decoration: none;
			text-align: left;
			color: #777777;
			font-weight: 100;
			cursor: pointer;
			display: block;
			width: 15rem;
			margin: 0 auto;
			outline: 0;
			position: relative;
		}

		.index {
			font-size: 1.5em;
			margin-left: 0.2rem;
			position: absolute;
			top: -3px;
			right: -4rem;
		}

		a:hover {
			color: #51bce7;

			.item {
				border-bottom: 1px #51bce7 solid;
			}
		}
	}

	#active {
		color: #51bce7;
		font-weight: 500;
	}
}

// =========================== FOOTER ===========================

footer {
	@media only screen and (min-width: 320px) and (max-width: 1000px) {
		margin-bottom: 5rem;
	}
}

.social {
	display: flex;
	justify-content: space-evenly;
	margin: 0 1.2rem;
	font-size: 3rem;
	color: #777777;

	a {
		text-decoration: none;
		outline: 0;
		color: #777777;
	}

	i:hover {
		color: #51bce7;
	}
}

footer p {
	font-size: 1.1rem;
	color: #777777;
	text-align: center;
	padding: 2rem 1rem;
}

// ============================== NAME AND INRTO ========================

.intro {
	width: 100%;
	height: 10rem;
	z-index: -1;
	position: absolute;
	top: -10rem;
	bottom: 0;
	left: 0;
	right: -25rem;

	@media only screen and (min-width: 320px) {
		top: 0rem;
		bottom: 0;
		left: 0;
		right: 0rem;
	}
	margin: auto;

	.primary-text {
		text-align: center;
		text-transform: uppercase;
		font-size: 5rem;
		font-weight: 500;
		font-family: serif;
		color: $txt-color-white;

		@media only screen and (min-width: 320px) {
			font-size: 4rem;
		}

		span {
			color: #51bce7;
			font-weight: 600;
		}
	}

	.secondary-text {
		color: $txt-color-white;
		font-size: 2.7rem;
		text-align: center;
		font-weight: 100;

		#title {
			padding: .5rem;
			font-size: 3rem;
			font-weight: 500;
			border-bottom: 2px solid #51bce7;
			@media only screen and (min-width: 320px) and (max-width: 400px) {
				border-bottom: 1px solid #51bce7;
			}

			span {
				border-right: .05em solid;
				animation: caret 1s steps(1) infinite;
			}

			@keyframes caret {
				50% {
					border-color: transparent;
				}
			}
		}
	}
}

//========================== SHARED STYLES ===============================//

.container {
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
	-ms-overflow-style: none; // IE 10+
	scrollbar-width: none; // Firefox
	overflow-x: hidden;
	@media only screen and (min-width: 320px) and (max-width: 1000px) {
		padding: 0;
	}
}

.header-primary,
.header-icon {
	color: #ffffff;
	font-size: 4rem;
	font-weight: 500;
}

.header-secondary {
	display: block;
	color: #ffffff;
	font-size: 3rem;
	font-weight: 400;
	margin: 2rem -1rem;
	@media only screen and (min-width: 320px) {
		line-height: 3rem;
		font-size: 4rem;
		width: 100vw;
	}
}

.header-tertiary {
	color: #ffffff;
	font-size: 2rem;
	font-weight: 200;

	@media only screen and (min-width: 320px) {
		font-weight: 500;
		width: 100%;
		font-size: 3.5rem;
		padding: 2rem 0 5px 0;
		margin-right: -2rem;
	}
}

.container {
	overflow-y: scroll;
	hr {
		color: #51bce7;
	}

	header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		@media only screen and (min-width: 320px) {
			padding: 1rem;
			margin-top: 7rem;
		}

		@media only screen and (min-width: 1001px) {
			padding: 0 1rem;
			margin-top: 2rem;
		}
	}
}

.notice {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20rem;

	&-text {
		font-size: 3rem;
		height: 100%;
		width: 95rem;
		background: yellow;
		color: red;
		padding: 1rem;
		border-radius: 1rem;
		vertical-align: middle;
	}
}

// ===================================== HAMBURGER MENU BUTTON ===================================//
.mobile_nav {
	background: transparent;
	margin-bottom: 2rem;
	position: fixed;
	padding: 1rem;
	width: 100%;
	z-index: 10;
	@media only screen and (min-width: 1001px) {
		display: none;
	}

	&-text {
		color: #51bce7;
		font-size: 3rem;
		font-weight: 500;
		margin-right: 6rem;
		text-align: right;
	}
	.menu_btn {
		display: inline-block;
		cursor: pointer;
		position: absolute;
		top: 1.5rem;
		right: 2rem;

		.bar1,
		.bar2,
		.bar3 {
			width: 25px;
			height: 3px;
			background: #51bce7;
			transition: 0.4s;
			border-radius: 2px;
		}

		.bar2 {
			margin: 6px 0;
		}
	}

	.change .bar1 {
		-webkit-transform: rotate(-45deg) translate(-9px, 6px);
		transform: rotate(-45deg) translate(-5px, 4px);
	}

	.change .bar2 {
		opacity: 0;
	}

	.change .bar3 {
		-webkit-transform: rotate(45deg) translate(-8px, -8px);
		transform: rotate(45deg) translate(-8px, -8px);
	}
}

// ===================================== MOVING THE NAVBAR OFF THE SCREEN CLASSES

.show {
	opacity: 1;
	visibility: visible;
	transform: translate(0);
}
